@model KeyValuePair<String, String>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AjaxTagHelper

@{
    ViewData["Title"] = "Guia Trader";
}


<div class="d-flex justify-content-center vh-100" style="background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-position: center; background-image: url('@Url.Content("~/Imagens/bg_login.jpeg")');">
    <div style="position:absolute; left: 31%; top: 25%; width: 40%;">
        <div class="container">
            <div class="card card-container" style="backdrop-filter: blur(20px); background-color: transparent; border: none;">
                <img id="profile-img" style="width: 96px; height: 96px; margin: 10px auto 10px; display: block; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <div class="row" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input id="user" type="text" id="inputUser" class="form-control" placeholder="Nome do usuário" required autofocus>
                    <input id="pwd" type="password" id="inputPassword" class="form-control" placeholder="Senha" required style="margin-top: 5px;">
                    <button id="btnEntrar" class="btn btn-primary btn-block btn-signin" style="margin-top: 10px; width:100%; text-align: center;" type="submit">Entrar</button>
                </div>

            </div><!-- /card-container -->
        </div><!-- /container -->
    </div>
</div>



    @section Scripts {
        <script>
            $(document).ready(function () {

                $("#pwd").on('keypress', function (e) {
                    if (e.which == 13) {
                        $('#btnEntrar').click();
                    }
                });

                $('#btnEntrar').on('click', function () {
                    $("#pwd").prop('disabled', true);
                    $("#user").prop('disabled', true);
                    $("#btnEntrar").prop('disabled', true);

                    if ($("#user").val().length == 0)
                        alert("Inserir usuário!");
                    else if ($("#pwd").val().length == 0)
                        alert("Inserir senha!");
                    else {
                        $.ajax({
                            url: "@Url.Action("InicioGuiaTrader", "Home")",
                            data: { usuario: $("#user").val(), senha: $("#pwd").val() },
                            success: function (result) {
                                $("#divInicio").empty();
                                $("#divInicio").html(result);
                                $("#pwd").prop('disabled', false);
                                $("#user").prop('disabled', false);
                                $("#btnEntrar").prop('disabled', false);
                            }
                        });
                    }

                });
            });
        </script>
    }
